# Eclipse
.classpath
.project
.settings/

# IntelliJ Idea
*.iml
.idea/
lgbt-news-collect/*.iml


# Maven
log/
lgbt-news-collect/target/
lgbt-news-analysis/target/

# Resources
lgbt-news-collect/src/main/resources/config.properties
lgbt-news-collect/src/main/resources/*.log
lgbt-news-collect/src/main/resources/history/

lgbt-news-analysis/src/main/resources/*.log
lgbt-news-analysis/src/main/resources/sentimentAnalysis_*
lgbt-news-analysis/src/main/resources/topic*